
.text{
  text-shadow: black;
  text-decoration: underline;
  font-family: cursive, fantasy, georgia, none;
  cursor: url("text.png"), url("text.cur"), default;
}
button{
  color: #fbfcfd;
  padding: 10px 25px;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 20px;
  outline: none;
  cursor: url("click.png"), url("click.cur"), default;
}
body{
  background-image: url("test.svg");
  background-size: cover;
  cursor: url("1.png"), url("2.cur"), default;
}
